<h1>.-. .. .--. .- ... ... --- -- .- - - .. .- -.-. .-.. --- .-- -.</h1>

<button (click)="onClick()">ok</button>

<input type="text" [(ngModel)]="titolo">

<br>

{{titolo}}
<ul>
  <li *ngFor="let elemento of elenco;let i=index">{{i}} - {{elemento}}  
    <button (click)="onDelete(i)">remove</button></li>
</ul>


<!-- <br>
{{condizione}}
{{contatore}}
<h2 *ngIf="condizione">il contenuto compare se c'è una certa condizione</h2>
<h2 *ngIf="contatore>=5">hai vinto!</h2> -->

<!-- inserire una sotto componente
child-->
<!--<app-figlia 
[datoDiIngresso]="contatore"
(eventoGeneratoDallaFiglia)="gestoreEvento($event)"
>
</app-figlia>
<hr>
<app-figlia></app-figlia>
<hr>
<app-figlia></app-figlia>
<hr> -->
